<h1>Keycloak- und LDAP-Demo</h1>
<div><a routerLink="/public" routerLinkActive="active">Öffentlicher Bereich</a></div>
<div><a routerLink="/restricted" routerLinkActive="active">Geschützter Bereich</a></div>
<router-outlet></router-outlet>